CMD.md

# Ignore all files with the .md extension

# Ignore all files with the .txt extension
*.txt
# Ignore all files with the .log extension

# Ignore all files with the .tmp extension
*.tmp
# Ignore all files with the .bak extension
*.bak   

# Python artifacts
__pycache__/
*.pyc
demo_output/

.env
!requirements.txt
HCLT/
.vscode/
.DS_Store
.idea/
.vs/
.claude/
csv/
predictions/

logs/
experiment_results/
docs7_export/

chroma_db
chromadb
chromadb_qwen

# xml_Embedding/
e38b9972-6202-4aa5-9f1a-f474850d5e11/
*.db
*.sqlite3

runs/